*{box-sizing: border-box;}
body{
    background:black;
    display: flex;
}

.caja{
    width: 500px;
    height: 700px;
    margin: auto;
    background: white;
}

.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logos{
    height: 30px;
    width: 30px;
}
.html5{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.x{
    margin: 0%;
}

.paisaje{
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text{
    padding: 10px;
}