*{box-sizing: border-box;}

body{
    background:black;
    display: flex;
}

.container{
    width: 31.25rem;
    height: 43.75rem;
    margin: auto;
    background: white;
}

.top-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;

}

.logos{
    height: 1.875rem;
    width: 1.875rem;
}
.html5{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    
}

.heading-section{
    margin: 0%;
}

.paisaje{
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

.text{
    padding: 0.625rem;
}
